.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Ensures the container takes the full height of the viewport */
  }
  
  .content {
    width: 80%; /* Adjust as needed */
    max-width: 1200px; /* Set a max-width for larger screens */
    padding: 20px;
    background-color: #cde3f9; /* Light blue background color */
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Box shadow */
    border: 1px solid gray;
  }